# Logs

logs
*.log

# Dependency directories

node_modules/

# Environment

.env
.env.local
.env.development.local
.env.production.local

# IDEs

.idea
.vscode

# Finder (MacOS) folder config

.DS_Store
